.background{
  background-image: url("../../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 1920px;
  height:1080px;
  transform-origin:left top 0px;
}

.leftPart{
    display: inline-block;
    float: left;
    margin-left: 32px;
    margin-top: 32px;
    width: 1086px;
    height: 960px;
    /*border-bottom: 2px solid #5c699f;*/
  }

  .titleBar{
    width: 100%;
    height:40px;
    background: linear-gradient(to right, #355e97 , transparent); /*normal incluing Chrome*/
    background: -webkit-linear-gradient(left, #355e97 , transparent); /* Safari*/
    background: -o-linear-gradient(right, #355e97 , transparent); /* Opera*/
    background: -moz-linear-gradient(right,#355e97 , transparent); /* Firefox*/
    text-align: left;
    line-height: 40px;
    color: white;
    font-family: "Microsoft YaHei UI";
    font-size: 20px;
    font-weight: bold;
    padding-left: 12px;
  }

  .leftPartTop{
    width: 100%;
    height: 266px;
    margin-top: 32px;
    border-bottom: 2px solid #365f98;
  }

  .leftPartMedium{
    width: 100%;
    height: 266px;
    margin-top: 32px;
  }

  .leftPartMediumLeft{
    display: inline-block;
    float: left;
    height:100%;
    width: 523px;
    background-color: rgba(36,74,125,0.35);
    border: 2px solid #365f98;
  }

  .leftPartMediumRight{
    display: inline-block;
    float: left;
    margin-left: 32px;
    height:100%;
    width: 523px;
    background-color: rgba(36,74,125,0.35);
    border: 2px solid #365f98;
  }

  .leftPartBottom{
    width: 99.7%;
    height: 266px;
    margin-top: 32px;
    background-color: rgba(36,74,125,0.35);
    border: 2px solid #365f98;
  }

  .rightPart{
    display: inline-block;
    float: left;
    margin-top: 32px;
    margin-left: 32px;
    width: 740px;
    height: 960px;
  }

  .rightPartTop{
    width: 100%;
    height: 266px;
    margin-top: 28px;
    background-color: rgba(36,74,125,0.35);
    border: 2px solid #365f98;
  }

  .rightPartMedium{
    margin-top: 32px;
    width: 100%;
    height: 266px;
    background-color: rgba(36,74,125,0.35);
    border: 2px solid #365f98;
  }

 .rightPartBottom{
    margin-top: 32px;
    width: 100%;
    height: 266px;
    background-color: rgba(36,74,125,0.35);
    border: 2px solid #365f98;
  }

 .leftPartTopTitle{
    text-align: center;
    font-size: 38px;
    font-weight: bolder;
    color: white;
    margin-bottom: 20px;
  }

  .MainDiagram{
    width: 100%;
    height: 600px;
  }

  .borderLeft{
    width: 28px;
    height:100%;
    display: inline-block;
    float: left;
    position: relative;
  }

  .borderRight{
    width: 28px;
    height:100%;
    display: inline-block;
    float: right;
    position: relative;
  }

  .content{
    height: 100%;
    width: auto;
    display: inline-block;
    float:left;
  }

  .borderLeftTop{
    position: absolute;
    width: 28px;
    height: 28px;
    margin-top: -2px;
    margin-left: -2px;
    background-image: url("../../images/icon/LT.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .borderLeftDown{
    position: absolute;
    bottom: 0px;
    width: 28px;
    height: 28px;
    margin-bottom: -2px;
    margin-left: -2px;
    background-image: url("../../images/icon/LD.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .borderRightTop{
    position: absolute;
    width: 28px;
    height: 28px;
    margin-top: -2px;
    margin-left: 2px;
    background-image: url("../../images/icon/RT.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .borderRightDown{
    position: absolute;
    bottom: 0px;
    width: 28px;
    height: 28px;
    margin-bottom: -2px;
    margin-left: 2px;
    background-image: url("../../images/icon/RD.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .rightPartBottomTitle{
    color: white;
    font-weight: 100;
    font-size: 20px;
    height: 5px;
    text-align: left;
  }

  .rightPartBottomTitle>div:first-child{
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 3%;
  }

  .rightPartBottomTitle>div:nth-child(2){
    color: white;
    font-weight: bolder;
    font-size: 16px;
    text-align: left;
  }

  .circleProcessTitle{

    color: white;
    font-size: 24px;
    font-weight: 100;
  }

  .circleProcessTitle>div:first-child{
    margin-top: 12px;
    display: inline-block;
    float: left;
    margin-left: 64px;
  }

  .circleProcessTitle>div:nth-child(2){
    margin-top: 12px;
    display: inline-block;
    float: left;
    margin-left: 104px;
  }

  .circleProcessTitle>div:nth-child(3){
    margin-top: 12px;
    display: inline-block;
    float: left;
    margin-left: 108px;
  }

  .rightPartTopTitle{
    width: 100%;
    height: 70px;
    border: 2px solid saddlebrown;
    margin-top: 20px;
  }

  .rightPartTopTitle>div:first-child{
    font-size: 32px;
  }

  .subService{
    height: 70%;
    margin-left: 36px;
  }

  .subServiceTitle{
    font-size: 30px;
    font-weight: bolder;
    color: #44bdff;
  }

  .subServiceSubTitle {
    font-size: 20px;
    color: #FFFFFF;
    height: 18px;
    min-height: 18px;
    margin-bottom: 64px;
  }

  .subServiceList{
    text-align: right;
    margin-bottom: 58px;
    font-size: 18px;
    color: #FFFFFF;
  }

  .proContain{
    float: left;
    display: inline-block;
    width: 100%;
    margin-bottom: 50%;
  }

  .leftLabel{
    font-size: 18px;
    color: #FFFFFF;
    float: left;
    display: inline-block;
    margin-top: 2px;
  }

  .lineProcess{
    float: left;
    display: inline-block;
    margin-left: 26px;
    margin-top: -7.275rem;
  }

  .overstockIndex{
    height: 90%;
    margin-top: 5%;
    display: inline-block;
    float: left;
    margin-left: 48px;
    width: 310px;

  }

  .dashboardArea{
    height: 90%;
    margin-top: 4%;
    display: inline-block;
    float: left;
    margin-left: 32px;
  }

  .dashboardAreaSubTitle{
    margin-bottom: 44px;
  }

  .dashboardStyle{
    width: 130px;
    height: 92px;
    margin-left: 30px;
  }

  .contentX{
    width: 100%;
    height: 85%;
    margin-left: 25px;
    margin-top: 55px;
  }

  .contentY{
    width:33%;
    height:100%;
    float:left;
    display:inline-block;
  }

  .contentL{
    width:33%;
    height:100%;
    float:left;
    display:inline-block;
  }

  .contentT{
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    margin-top: 1%;
  }